body {
  font-family: monospace;
  color: #f5f6f7;
  background: #2a2b40;
  display: flex;
  margin: 14rem 0.5rem 5rem 0.5rem;
  font-size: normal;
  line-height: 1.42857143;
  text-size-adjust 100%;
}

a {
  color:#f5f6f7;
  font-size: large ; 
}

header {
  font-size: 1.42857143rem;
  color: #f5f6f7;
  --header-height: 38px;
  font-weight: bold; 
  line-height: 5rem;
}

h2{
  font-size: normal;
}

#navbar {
  position: fixed;
  top : auto;
  width: auto;
  top: 0px;
  background-color: rgb(46, 60, 72);
  transition: 0.5s;
  padding: 15px 7px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  color: #f5f6f7;
}

#main-doc {
display: flex;
flex-direction: column;
margin: 0.5rem 0.5rem 0.5rem 20rem;
}

#header-img {
  top: 3px;
  width: fit-content;
  height: fit-content;
  margin: 0rem 0rem 3rem 0rem;
  }
